.navbar .nav-link {
  color: white !important;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  color: white;
}

.gallery-bg {
  background-color: #212529;
  padding: 20px;
  min-height: 100vh;
  border: 0;
}

.positioning {
  margin: 10px;
}

.icons {
  margin: 5px;
}
